<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>

<body>
<div style="text-align:center">
	<h1>Please insert user information</h1>
    <form action="/insert_user" method="POST">
    	<input type="text" placeholder="input userName" name="name" autocomplete="off"/><br/><br/>
    	<input type="numberNew" placeholder="input age" name="age" autocomplete="off"/><br/><br/>
    	<input type="text" placeholder="input passwd" name="passwd" autocomplete="off"/><br/><br/>
    	<input type="text" placeholder="input address" name="address" autocomplete="off"/><br/><br/>
    	
    	<button>submit</button>&nbsp;&nbsp;&nbsp;&nbsp;
    	<button onclick="window.close();">quit</button>
	</form>
</div>
</body>
</html>