<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="refresh" content="30">  -->
    <title>notebook</title>
</head>
<body>
<h1>Please input your notebook!</h1>

<form action="/htmlWrite" method="post">
	<td>your name:<td>
	<td><input type="text" name="user" placeholder="input userName" autocomplete="off"/><br/><br/><td>
    <textarea name="html1" style="width:99.5%;height:500px;overflow-y:scroll;">
	</textarea>
	<button>submit</button>
</form>
</body>
</html>