<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../static/js/jquery-3.4.1.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $("#del").click(function(){
	        $("#test").remove();
        });
	})
	</script>
</head>
<body>

<a>sadh</a>
<ul id=ul1">
    <li id="test">hah</li>
<!--    <li><button onclick="delete1()">delete1</button></li>-->
    <li>344444444444</li>
</ul>
<button id="del">DEL</button>
<a>hello</a>
</body>
</html>